@import '../../styles/variables.scss';

.bar {
    width: 100%;
    background-color: #FFF;
    position: relative;
    transition: all 0.20s linear;
    margin-top: 5px;
    .barBody {
        display: flex;
        justify-content: center;
        position: relative;
        .button {
            padding: 10px 30px;
            background-color: rgba(#000, 0.1);
           
            &.active {
                background-color: #fff;
                box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
            }

            &:first-child {
                border-top-left-radius: $radius-element;
                border-bottom-left-radius: $radius-element;
                width: 190px;
            }

            &:nth-child(4) {
                border-top-right-radius: $radius-element;
                border-bottom-right-radius: $radius-element;
                width: 140px;
            }

            strong {
                display: block;
                text-align: left;
            }

            span {
                display: block;
                font-size: 13px;
                text-align: left;
            }

        }
        .searchButton {
            display: flex;
            align-items: center;
            margin-left: 5px;
        }
    }
    .modal {
        background-color: #fff;
        position: absolute;
        z-index: 10;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
        margin-top: 10px;
        padding: 10px;
        border-radius: $radius-element;
    }
    .datePicker {
        max-width: 700px;
        left: 50%;
        transform: translateX(-50%);
    }
    .guestsModal {
        max-width: 350px;
        left: 51%;
    }
    .countryModal {
        max-width: 300px;
        width: 100%;
        right: 51.4%;
        label {
            display: block;
            padding: 5px 0;
            button {
                width: 100%;
                padding: 10px 15px;
                font-size: 16px;
                text-align: left;
                border-radius: $radius-element;

                &:hover {
                    background-color: rgb(209, 209, 209);
                }
                &.active {
                    border: 1px solid $color-black;
                }
            }
        }
    }
}